<ion-header [translucent]="true">
  <ion-toolbar class="barra">
    <ion-title>
      Asociación Grupo Paredes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <ion-card>
    <ion-card-content>
      Somos una Asociación que promueve la producción sostenible y comercialización de banano de alta calidad; en un
      esfuerzo compartido por reducir la pobreza y elevar la calidad de vida de la familia productora en constante
      armonía con la naturaleza.
    </ion-card-content>
  </ion-card>
  <div class="text-center">
    <img src="../../assets/imagenes/babano.jpg" class="imageb">
  </div>

  <br> <br> <br>
  <ion-button expand="block" fill="outline" (click)="irHaScanner()">
    <ion-icon name="qr-code-outline" style="margin-right: 10px;"></ion-icon> Leer Código
  </ion-button>

</ion-content>